<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="shortcut icon" href="../public/img/mongodb-logo.webp" type="image/x-icon">
</head>
<body>
    <h1>TEST connexion</h1>
    <form method="POST">
        <input type="email" name="email" id="email" placeholder="Mail"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <input type="text" name="mdp" id="mdp" placeholder="Mot de passe" pattern="(?=.*\d).{6,45}" required>
        <input type="submit" value="Valider">
    </form>
    <a href="/">Inscription</a>
    <h2>MONGO DB</h2>
</body>
</html>